@page
@model MyPlatformConfiguration.MyFeature.Pages.Index

<section>
    <h1>Platform Configuration</h1>

    <p>An area to configure the Platform</p>

    <a asp-page="Edit" asp-route-id="1" >Edit</a>

    <button id="testButton">Alert</button>

</section>

@section Scripts { 
    <script src="_content/MyPlatformConfiguration/js/platformConfig.js"></script>
}
